<div class="row">
    <div class="col-md-3">
        <div class="list-group">
          {{#each item in list}}
            {{#link-to route item classNames='list-group-item'}}{{item.name}}{{/link-to}}
          {{/each}}
        </div>
    </div>
</div>
