<ol class="breadcrumb">
    <li>{{#link-to "tournament.index" model classNames='active'}}{{model.name}}{{/link-to}}</li>
    <li class="active">List of places</li>
</ol>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Place</th>
        <th>Pumper</th>
    </tr>
    </thead>
    <tbody>
    {{#each pumperTournament in model.pumpersTournaments}}
        <tr>
            <td>{{pumperTournament.place}}</td>
            <td>{{pumperTournament.pumper.name}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>