<div class="row">
    <div class="col-md-3">
        <div class="well">
            <p class="text-center">
              <img {{bind-attr src='model.photoUrl'}} class="img-thumbnail img-rounded"/>
            </p>
            <h4>{{model.name}}</h4>
        </div>
    </div>
  <div class="col-md-9">
    {{outlet}}
  </div>
</div>