<div class="row">
    <div class="col-md-3">
        <div class="list-group">
          {{#each tournament in model}}
            {{#link-to 'tournament' tournament classNames='list-group-item'}}{{tournament.name}}{{/link-to}}
          {{/each}}
        </div>
    </div>
</div>
